<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="UseConfig" value="false" />
        <add key="Mips" value="false" />
        <add key="Raw" value="false" />
        <add key="Force" value="false" />
        <add key="DolphinMipDetection" value="true" />
        <add key="ArbitraryMipmapDetection" value="true" />
        <add key="CombinedRGBA" value="false" />
        <add key="CleanupType" value="Default" />
        <add key="MinGroupsSize" value="3" />
        <add key="DryRun" value="false" />
        <add key="Tasks" value="4"  />
        <add key="Deep" value="0" />
    </appSettings>
</configuration>
